.container-fluid{
  background-color: yellow;
  padding: 30px;
  border: 3px solid black;
}

.header{
  background-color: blue;
  border: 3px solid black;
  height: 200px;
}

.nav{
  background-color: green;
  border: 3px solid black;
  height: 100px;
}

.content{
  background-color: red;
  border: 3px solid black;
  height: 300px;
}

.aside{
  background-color: aqua;
  border: 3px solid black;
  height: 300px;
}

.promo{
  background-color: orange;
  border: 3px solid black;
  height: 150px;
}

footer{
  background-color: black;
  color: white;
  /*border: 3px solid black;*/
  height: 100px;
}

@media screen and (min-width: 375px) {
  .header{
    background-color: gray;
  }
  .nav{
    background-color: aqua;
  }
  .content{
    background-color: blue;
  }
  .aside{
    background-color: white;
  }
  .promo{
    background-color: lightgreen;
  }
  footer{
    background-color: lightblue;
    color: black;
  }
}

@media screen and (min-width:768px) {
  .header{
    background-color: red;
  }
  .nav{
    background-color: orange;
  }
  .content{
    background-color: yellow;
  }
  .aside{
    background-color: lightyellow;
  }
  .promo{
    background-color: hotpink;
  }
  footer{
    background-color: darkred;
  }
}
